.documentation-pagination {
  display: flex;
  gap: 1rem;
  margin-top: 4rem;
  padding-top: 2rem;
  border-top: 1px solid rgb(255 255 255 / 10%);

  .pagination-link {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 1.25rem;
    background: $content-background;
    border: 1px solid $p-card-border;
    border-radius: 0.75rem;
    text-decoration: none;
    transition: all 0.3s ease;

    &.next {
      text-align: right;
      align-items: flex-end;
    }

    .pagination-label {
      font-size: 0.75rem;
      font-weight: 500;
      text-transform: uppercase;
      color: rgb(255 255 255 / 50%);
    }

    .pagination-title {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 1rem;
      font-weight: 500;
      color: $white-text-color;
      transition: all 0.3s ease;

      .next & {
        flex-direction: row;
      }
    }

    .pagination-arrow {
      color: var(--main-item-hover-color-system);
    }

    .hexagon-rows-container .hexagon-row-container {
      margin-top: -1.75rem;
    }

    &:hover {
      background: var(--main-item-highlight-color-system);
      border-color: var(--main-item-hover-color-system);

      .pagination-title {
        color: var(--main-item-hover-color-system);
      }
    }
  }

  .pagination-placeholder {
    flex: 1;
  }

  @media (width <= $md) {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr;
  }
}

